@font-face {
  font-family: "iconfont"; /* Project id 346114 */
  src: url('iconfont.woff2?t=1642601558789') format('woff2'),
       url('iconfont.woff?t=1642601558789') format('woff'),
       url('iconfont.ttf?t=1642601558789') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-buluxianxiadan:before {
  content: "\e754";
}

.icon-prj:before {
  content: "\e963";
}

.icon-logout:before {
  content: "\e961";
}

.icon-quanxianguanli:before {
  content: "\e753";
}

.icon-check-gou:before {
  content: "\e755";
}

.icon-yichang:before {
  content: "\e756";
}

.icon-refresh:before {
  content: "\e73c";
}

.icon-filter:before {
  content: "\e72a";
}

.icon-zhengshixuanzhong:before {
  content: "\e72b";
}

.icon-shaixuan:before {
  content: "\e708";
}

.icon-sanjiao_zhankai:before {
  content: "\e709";
}

.icon-sanjiao_shouqi:before {
  content: "\e70a";
}

.icon-fangwenredu1:before {
  content: "\e70b";
}

.icon-boda:before {
  content: "\e70c";
}

.icon-shezhi:before {
  content: "\e9d7";
}

.icon-paixu:before {
  content: "\e9d8";
}

.icon-suoxiao:before {
  content: "\e9d9";
}

.icon-quanping:before {
  content: "\e9da";
}

.icon-shoucangjia:before {
  content: "\e9db";
}

.icon-paixu-copy:before {
  content: "\e9dc";
}

.icon-zhengjianhaoma1:before {
  content: "\e99b";
}

.icon-bangzhu:before {
  content: "\e632";
}

.icon-danxuankuang:before {
  content: "\e626";
}

.icon-fangyuanzongshu:before {
  content: "\e98f";
}

.icon-shoujihaoma:before {
  content: "\e990";
}

.icon-xiaoshoue:before {
  content: "\e991";
}

.icon-fangwenredu:before {
  content: "\e992";
}

.icon-diyiyixiang:before {
  content: "\e993";
}

.icon-guishuguwen:before {
  content: "\e994";
}

.icon-renchoudanshu:before {
  content: "\e995";
}

.icon-renchourenshu:before {
  content: "\e996";
}

.icon-qiehuancaidan:before {
  content: "\e997";
}

.icon-wenxintishi:before {
  content: "\e96c";
}

.icon-pie:before {
  content: "\e96b";
}

.icon-kaifa:before {
  content: "\e96a";
}

.icon-sanjiao:before {
  content: "\e969";
}

.icon-wodeshoucang:before {
  content: "\e954";
}

.icon-wode:before {
  content: "\e955";
}

.icon-shoucangbtn:before {
  content: "\e956";
}

.icon-wodeshoucang1:before {
  content: "\e957";
}

.icon-yonghufenxi:before {
  content: "\e958";
}

.icon-wode1:before {
  content: "\e959";
}

.icon-yonghufenxi1:before {
  content: "\e95a";
}

.icon-zhuanghufenxi:before {
  content: "\e95b";
}

.icon-arrow_down:before {
  content: "\e95c";
}

.icon-zhuanghufenxi1:before {
  content: "\e95d";
}

.icon-arrow_up:before {
  content: "\e95e";
}

.icon-check_red:before {
  content: "\e960";
}

.icon-close:before {
  content: "\e962";
}

.icon-search:before {
  content: "\e964";
}

.icon-searchclean:before {
  content: "\e965";
}

.icon-huodongfenxi:before {
  content: "\e966";
}

.icon-huodongfenxi1:before {
  content: "\e967";
}

